@page "/Security/Register"
@model RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Banking | Registro</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Banking</b>Project</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Crear un Nuevo Usuario</p>

                <form method="post">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Register.Nombre, new { @type = "text", @class="form-control", @placeholder="Nombre" })
                        @*<input asp-for="Register.Nombre" type="text" class="form-control" placeholder="Nombre">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Register.Apellido, new { @type = "text", @class = "form-control", @placeholder = "Apellido" })
                        @*<input type="text" class="form-control" asp-for="Register.Apellido" placeholder="Apellido">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Register.Cedula, new { @type = "text", @class = "form-control", @placeholder = "Cedula" })
                        @*<input type="text" class="form-control" asp-for="Register.Cedula" placeholder="Cedula">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Register.Email, new { @type = "email", @class = "form-control", @placeholder = "Email" })
                        @*<input type="email" class="form-control" asp-for="Register.Email" placeholder="Email">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.Register.Password, new { @type = "password", @class = "form-control", @placeholder = "Contraseña" })
                        @*<input type="password" class="form-control" asp-for="Register.Password" placeholder="Contraseña">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.Register.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = "Repita la Contraseña" })
                        @*<input type="password" class="form-control" asp-for="Register.ConfirmPassword" placeholder="Repita la Contraseña">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <!-- /.col -->
                        <button type="submit" class="btn btn-primary btn-block" asp-page-handler="Register">Registrar</button>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <!-- /.col -->
                    </div>
                </form>
                <a href="@Url.Page("Login")" class="text-center">Tengo una Cuenta de Usuario</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
